body {
    background-color: #5e6d8c;
}


div {
    padding: 0px;
    border: 25px solid navy;
    margin: 0px;
}

/* port styling */
.available-magnet {
    fill: yellow;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}